################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StickyPOC/packages
/StickyPOC/.vs/StickyPOC/v16
